html {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

header img {
  zoom: 5%;
  align-items: bottom;
}

header h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #FFFFFF;
}

nav {
  margin: 0;
  overflow: hidden;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.menu {
  margin-left: 20px;
  list-style: none;

}

.title {
  color: white;
  margin-right: auto;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
}
.menu {
  color: white;
  /*line-height: 2em;*/
  text-decoration: none;
}

.menu a:link {
  color: white;
}

.menu a:visited {
  color: white;
}

.menu a:hover {
  color: #A6A5A1;
  text-decoration: underline;
}

section img{
  position: absolute;
  overflow: scroll;
  width: 100%;
  z-index: 2;
}

section .welcome h2 {
  font-weight: bold;
  color: black;
  margin-left: 20px;
}

section .welcome p {
  font-style: oblique;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.projects h2 {
  font-weight: normal;
  color: white;
  text-decoration: underline;
  margin-left: 40px;
}

section .projects ul li a:hover {
  color: blue;
}

.projects {
  color: white;
}
#box {
  background-color: white;
  width: 500px;
  height: 500px;
  z-index: 3;
  position: relative;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

.about h2 {
  font-weight: normal;
  color: white;
  text-decoration: underline;
}

.about p {
  font-style: italic;
  color: white;
}

#image img {
  width: 30%;
  margin-top: 20px;
  margin-left: 40px;
}
#description {
  float: right;
  left: 525px;
  width: 55%;
  margin-right: 10px;
}
footer {
  display: block;
  margin-left: 40px;
}
